*{
  box-sizing: border-box;
  font-family: 'Mouse Memoirs';
  color: white;
  --device-color: orange;
  --dark-font: rgb(128, 128, 128);
}

.body{
  align-items: center;
}

.header{
  background-color: var(--device-color);
  border-radius: 10px 10px 0 0;
  height: 85px;
  margin: 10px 10px 0 10px;
  padding: 5px;
  text-align: center;
}

.device-body{
  background-color: var(--device-color); 
  height: 300px;
  margin: 0 10px;
  position: relative;
}

.device-body__screen {
  display: grid;
  background-color: grey;
  height: 270px;
  width: 270px;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%, -30.5%);
}

.device-body__button-menu{
  background-color: var(--device-color);
  position:absolute;
  top: 300px;
  width:100%;
  height: 120px;
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr; 
  gap: 0px 10px; 
  grid-template-areas: 
    "btn-1 options options options btn-2"
    "btn-1 small_opt medium_opt large_opt btn-2"; 
    border-radius: 0 0 10px 10px;
}
.btn-1 { grid-area: btn-1;
          position:absolute;
          left:10px;
           }

.options { grid-area: options;
          text-align: center;
          font-size: 1.3rem;
           }

.btn-2 { grid-area: btn-2; 
         position:absolute;
         right:10px;}

.small_opt { grid-area: small_opt; }
.medium_opt { grid-area: medium_opt; }
.large_opt { grid-area: large_opt; }

.btn{
  border-radius: 100%;
  top: 20px;
  width: 60px;
  height: 60px;
  color: var(--dark-font);
}

.btn-b{
  color: var(--dark-font);
  font-size: 12px;
  height: 30px;
  
}

/*tablet*/
@media only screen and (min-width: 481px) and (max-width:768px) {
  .header{
    margin: 20px 20px 0 20px;
  }

  .device-body{
    margin: 0 20px;
    height: 450px;
   
  }
  
  .device-body__screen {
    height: 360px;
    width: 360px;
  }

  .device-body__button-menu{
    top: 374px;
    height: 120px;
  }
}

/*Desktop*/

@media only screen and (min-width:769px) {
  .header{
    margin: 5px 5em 0 5em;
  }

  .device-body{
    margin: 0 5em;
    height: 700px;
   
  }
  
  .device-body__screen {
    height: 560px;
    width: 560px;
    top: 230px;
  }

  .device-body__button-menu{
    top: 620px;
    height: 150px;
    padding: 0 200px;
  }

  .btn{
    border-radius: 100%;
    top: 20px;
    width: 100px;
    height: 100px;
    color: var(--dark-font);
  }
  
  .btn-b{
    color: var(--dark-font);
    font-size: 20px;
    height: 30px;
  }
}

.fill{
  background-color: black;
}